.ag-theme-quartz-dark {
  --ag-background-color: hsl(var(--background));
  --ag-header-background-color: hsl(var(--background));
  --ag-header-foreground-color: hsl(var(--foreground));
  --ag-row-background-color: hsl(var(--background));
  --ag-row-hover-color: hsl(var(--accent));
  --ag-cell-hover-color: hsl(var(--accent));
  --ag-border-color: hsl(var(--accent));
}

.ag-theme-quartz-dark .ag-header-cell {
  font-weight: bold;
}

.ag-theme-quartz-dark .ag-row {
  background-color: hsl(var(--background)) !important;
}
.ag-theme-quartz-dark .ag-cell {
  color: hsl(var(--foreground));
  border: hsl(var(--accent));
}
.ag-theme-quartz-dark .ag-header-cell.ag-header-cell-filtered {
  color: rgb(251 146 60) !important; 
}

.ag-theme-quartz-dark .ag-cell:hover {
  background-color: hsl(var(--primary));
}

.ag-theme-quartz-dark .ag-cell.ag-cell-range-selected {
  background-color: hsl(var(--accent)) !important;
  color: hsl(var(--accent)) !important;
}

.ag-theme-quartz-dark .ag-row-selected {
  background-color: hsl(var(--accent)) !important;
}

.ag-theme-quartz-dark .ag-header-cell-resize {
  background-color: hsl(var(--accent));
}
